{{#if sus_mes}}
<div class="mb-3" id="sus-mes">
  {{sus_mes}}
</div>
{{/if}}
{{#if del_mes}}
<div class="mb-3" id="del-mes">
  {{del_mes}}
</div>
{{/if}}
{{#if error_mes}}
<div class="mb-3" id="error-mes">
  {{error_mes}}
</div>
{{/if}}
{{#if edit_mes}}
<div class="mb-3" id="edit-mes">
  {{edit_mes}}
</div>
{{/if}}