{{#if sus_mes}}
<div class="mb-3">
  {{sus_mes}}
</div>
{{/if}}
{{#if del_mes}}
<div class="mb-3">
  {{del_mes}}
</div>
{{/if}}
{{#if error_mes}}
<div class="mb-3">
  {{error_mes}}
</div>
{{/if}}
{{#if edit_mes}}
<div class="mb-3">
  {{edit_mes}}
</div>
{{/if}}