<form action="/restaurants" method="post">
  <input type="text" placeholder="name" name="name"><br><br>
  <input type="text" placeholder="name_en" name="name_en"><br><br>
  <input type="text" placeholder="category" name="category"><br><br>
  <input type="text" placeholder="image" name="image"><br><br>
  <input type="text" placeholder="location" name="location"><br><br>
  <input type="text" placeholder="phone" name="phone"><br><br>
  <input type="text" placeholder="google_map" name="google_map"><br><br>
  <input type="text" placeholder="description" name="description"><br><br>
  <button type="submit">Create</button>
  <a href="/restaurants">Back</a>
</form>